<html>

<head>
<link rel="stylesheet" href="/static/styles.css">
</head>

<body>

<input type="button" value="Say hello" onClick="showAndroidToast('Hello Android!')" />

<script type="text/javascript">
    function showAndroidToast(toast) {
        Android.showToast(toast);
    }
</script>

</body>
</html>